{% extends 'base.html' %}
{% load static %}
{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}
  <!-- Promotion Banner -->
  <div class="promotion-banner text-white py-2">
    <p class="mb-0">Buy two and get one free</p>
  </div>

  <!-- Hero Section -->
  <div class="hero-section d-flex align-items-center">
    <div class="hero-text text-center">
      <h1 class="display-4">Begin Your Next Adventure</h1>
      <a class="btn btn-lg btn-warning" href="{% url 'products' %}" role="button">Shop Now</a>
    </div>
  </div>
  <!-- Benefits Section -->
  <div class="container benefits-section text-center my-5">
    <div class="row">
      <div class="col-4 my-3">
        <img width="64" height="64" src="https://img.icons8.com/ios-filled/50/000000/delivery.png" alt="Instant Delivery" class="img-fluid" />
        <p class="text-dark">Instant Delivery</p>
      </div>
      <div class="col-4 my-3">
        <img width="64" height="64" src="https://img.icons8.com/ios-filled/50/000000/card-security.png" alt="Secure Payments" class="img-fluid" />
        <p class="text-dark">Secure Payments</p>
      </div>
      <div class="col-4 my-3">
        <img width="64" height="64" src="https://img.icons8.com/ios-filled/50/000000/forward-30.png" alt="30 Day Free Return" class="img-fluid" />
        <p class="text-dark">30 Day Free Returns</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="container-fluid p-0 footer-section text-center">
    <div class="row">
      <div class="col-12">
        <p>About Us | Privacy Policy | FAQ</p>
        <div class="social-icons">
          <a href="#"><img src="{% static 'images/facebook-icon.png' %}" alt="Facebook" /></a>
          <a href="#"><img src="{% static 'images/twitter-icon.png' %}" alt="Twitter" /></a>
          <a href="#"><img src="{% static 'images/instagram-icon.png' %}" alt="Instagram" /></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
