{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_meta %}
  <meta name="description" content="Only for logged in users. Review your past orders, edit your details. Browse our range of bestsellers." />
  <meta name="keywords" content="view our bestseller range of books, free shipping in Ireland with secure payment, book-lovers and readers, Irish-owned shop" />
  <meta name="author" content="Monica Murray" />
{% endblock %}

{% block extra_title %}
  - {{ user.username }}'s Account Profile
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %}

{% block content %}
  <div class="card mx-auto my-4 text-center" style="max-width: 35rem;">
    <div class="card-body">
      <h2 class="display-4">{{ user.username }}'s Account</h2>
      <h3 class="h4 mb-4">Profile Details</h3>
      <div class="profile-image-container mb-3">
        {% if user.profile.image %}
          <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s profile image" class="rounded-circle" />
        {% else %}
          <i class="fas fa-user fa-5x"></i>
        {% endif %}
      </div>
      <p class="mb-3">{{ user.profile.bio }}</p>
      <button class="btn btn-lg btn-shop-now" id="edit-profile-btn">Edit Profile</button>
    </div>
    <!-- Profile Information Display -->
    <div class="row user-info">
      <div class="col-12">
        <p>
          <strong>Email:</strong> {{ user.email }}
        </p>
        <p>
          <strong>Favorite Genre:</strong> {{ user.profile.favorite_genre }}
        </p>
        <p>
          <strong>Phone Number:</strong> {{ user.profile.default_phone_number }}
        </p>
        <p>
          <strong>Country:</strong> {{ user.profile.default_country }}
        </p>
      </div>
    </div>

    <!-- Edit Profile Form (Initially Hidden) -->
    <div class="edit-profile-form" id="edit-profile-form" style="display:none;">
      <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data" class="profile-update-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-black rounded-0 text-uppercase save-changes-btn" type="submit">Save Changes</button>
      </form>
    </div>

    <!-- Order History Section -->
    <div class="row order-history-section">
      <div class="col-12">
        <h3 class="order-history-title">Order History</h3>
        <div class="order-history table-responsive">
          <table class="table table-sm table-borderless">
            <thead>
              <tr>
                <th class="text-muted">Order</th>
                <th class="text-muted">Date</th>
                <th class="text-muted">Payment Status</th>
                <th class="text-muted">Fulfillment Status</th>
                <th class="text-muted">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
                <tr>
                  <td>
                    <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">#{{ order.order_number|truncatechars:6 }}</a>
                  </td>
                  <td>{{ order.date }}</td>
                  <td>
                    <span class="payment-status">{{ order.payment_status }}</span>
                  </td>
                  <td>
                    <span class="fulfillment-status">{{ order.fulfillment_status }}</span>
                  </td>
                  <td>{{ order.grand_total }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
  <script src="{% static 'js/countryfield.js' %}"></script>
  <script>
    // Toggle Edit Profile Form
    document.addEventListener('DOMContentLoaded', () => {
      const editProfileBtn = document.getElementById('edit-profile-btn')
      const editProfileForm = document.getElementById('edit-profile-form')
    
      // Log to check if elements are found
      console.log('Edit Profile Button:', editProfileBtn)
      console.log('Edit Profile Form:', editProfileForm)
    
      if (editProfileBtn && editProfileForm) {
        editProfileBtn.addEventListener('click', function () {
          console.log('Edit profile button clicked') // Log button click
          const isFormHidden = editProfileForm.style.display === 'none'
          console.log('Is form hidden before toggle:', isFormHidden) // Log current display state of form
    
          editProfileForm.style.display = isFormHidden ? 'block' : 'none'
          editProfileBtn.textContent = isFormHidden ? 'Hide Form' : 'Edit Profile'
    
          // Log the action taken
          console.log('New display style for form:', editProfileForm.style.display)
          console.log('New button text:', editProfileBtn.textContent)
        })
      } else {
        console.error('Edit profile button or form not found') // Log if elements are not found
      }
    })
  </script>
{% endblock %}
