    :root {
        --text-adventure: #e7b040;
        --background-logo: #F2DBAF; /* This is the beige background color */
        --shop-now: #F2DBAF;
        --shop-now-hover: #e0b469; /* A slightly darker shade for the hover effect */
    }  

    /* General Reset */
    body, h1, h2, h3, p {
        margin: 0;
        padding: 0;
        font-family: 'Jost', sans-serif;
    }
    
    body {
        background-color: var(--background-logo);
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    /* Header */
    .navbar {
        background-color: transparent;
        border-bottom: none;
    }
    
    .navbar-brand {
        font-size: 1.5rem;
        color: #333;
    }
    
    .navbar-toggler {
        border: none;
    }
    
    /* Adjust logo and menu for mobile */
    .navbar-brand img {
        max-height: 40px;
    }

    /* Promotion Banner */
    .promotion-banner {
        background-color: #000;
        color: #fff;
        padding: 0.5rem 0;
        text-align: center;
        font-weight: bold;
    }
    
    /* Hero Section */
    .hero-section {
        background: url('/media/Hero_Image.png') center/cover no-repeat;
        min-height: 100vh;
    }
    
    .hero-text {
        position: relative;
        top: 2%;
        left: 50%;
        font-family: 'Jost', sans-serif;
        font-size: 3rem;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: var(--text-adventure); 
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 1); 
    }

    .display-4 {
        font-size: 5rem;
    }
    
    /* Shop Now Button */
    .btn-shop-now {
        background-color: var(--shop-now);
        color: white;
        border: none;
        padding: 1rem 2rem;
        font-size: 1.25rem;
        transition: background-color 0.3s ease;
    }

    .btn-shop-now:hover {
        background-color: #e0b469;
        cursor: pointer;
    }
    
    /* Benefits Section */
    .benefits-section img {
        width: 4rem;
        height: auto;
        margin-bottom: .5rem;
    }
    
    .benefits-section div {
        padding: 1rem;
        text-align: center;
    }
    
    /* Mailing List Section */
    .subscribe-section {
        background: var(--background-logo);
        padding: 2rem 1rem;
    }
    
    .subscribe-section form {
        margin-top: 1rem;
    }
    
    .subscribe-section input[type="email"] {
        border: 2px solid #000;
        padding: .5rem;
        margin-right: .5rem;
    }
    
    .subscribe-section button {
        background: #000;
        color: #fff;
        border: 0;
        padding: .5rem 1rem;
    }

    #mc_embed_signup{
        background-color: #EAE4D4;
        clear:left;
        font:14px Helvetica,Arial,sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        font-size: 1rem;
    }
    
    /* Footer */
    footer {
        color: #000;
        padding: 1rem 0;
        background-color: var(--background-logo);
    }
    
    footer p, footer a {
        color: inherit;
    }
    
    /* Social Media Icons */
    .social-link img {
        width: 60px; /* Adjust the size as needed */
        height: auto;
        margin: 0 10px; /* Adds spacing between icons */
    }

    /* Additional styles for the footer */
    .footer-middle {
        background-color: #F2DBAF; /* Match your theme color */
        padding: 20px 0;
    }

    .footer-bottom {
        background-color: #D3C1A5; /* Darker shade for the bottom footer */
        padding: 10px 0;
    }

    .footer-nav, .social-links, .icons8-attribution {
        padding-bottom: 10px;
    }

    .footer-link {
        color: #333; /* Adjust color as needed */
        margin-right: 15px; /* Adds spacing between footer links */
    }

    .attribution-link {
        color: #333; /* Adjust color as needed */
        font-size: 0.75rem;
    }

    /* Responsive adjustments for tablet and desktop */
    @media (min-width: 768px) {
        .navbar {
        background: var(--background-logo);
        }

        .display-4 {
            font-size: 8rem;
        }
        
        .navbar-brand img {
        max-height: 60px;
        }
    
        /* Update hero section for larger screens */
        .hero-section {
        background: url('/media/Hero_Image.png') center/cover no-repeat;
        min-height: 100vh;
        }
    
        .hero-text {
        position: static;
        top: 10%;
        transform: none;
        }
    }
    
    /* Attribution styling */
    .icons8-attribution {
        text-align: center;
        margin-top: 1rem;
        font-size: 0.75rem;
    }

