    :root {
        --text-adventure: #e7b040;
        --background-logo: #F2DBAF; 
        --shop-now: #f0b954;
        --shop-now-hover: #e0b469; 
    }  

    /* General Reset */
    body, h1, h2, h3, p {
        margin: 0;
        padding: 0;
        font-family: 'Jost', sans-serif;
    }
    
    body {
        background-color: var(--background-logo);
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    /* Header */
    .fixed-top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030; /* High z-index to ensure the header stays on top */
    }
    
    body {
        padding-top: 70px; /* Adjust this value based on the height of your header */
    }
    
    .navbar {
        background-color: transparent;
        border-bottom: none;
    }
    
    .navbar-toggler {
        border: none;
    }

    .nav-item.dropdown::marker {
        content: none;
    }

    .icon-container {
        display: flex;
        align-items: center;
        position: absolute;
        right: 10px; /* Adjust based on your design */
        top: 50%;
        transform: translateY(-50%);
    }

    /* Individual icon style adjustments for alignment and spacing */
    .search-icon-container,
    .nav-item.dropdown {
        margin-right: 20px; /* Adjust the space between icons as needed */
    }

    /* Clear the marker from the dropdown to prevent displacement */
    .nav-item.dropdown::marker {
        content: none;
    }

    /* Mobile Header Adjustments */
    
    .navbar {
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        border-bottom: none;
    }

    .navbar-brand {
        order: 1 !important;
        flex-grow: 1;
        order: 1;
        font-size: 1.5rem;
        color: #333;
    }

    .search-icon-container {
     order: 3 !important;
     flex-grow: 1;
     text-align: center;
     position: absolute;
     right: 120px;
    }

    .search-icon {
        cursor: pointer;
    }

    .search-form {
        display: flex;
        justify-content: center; /* Center the input and button inside the form */
        width: 100%; /* Make the form take the full width of its parent */
        margin-top: 10px; /* Only one margin-top is necessary */
    }
    

    .search-input {
        font-size: 16px;
        padding: 10px;
        border: 2px solid #333;
        border-right: none; 
        line-height: 1;
        width: 20rem;
    }

    .search-bar-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: absolute;
        top: 100%; 
        left: 0;
        right: 0;
        background: white;
        z-index: 1030;
        display: none;
        border-top: 1px solid #ccc;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
    }
    

    .search-button {
        padding: 10px;
        background: #333;
        color: white;
        border: none;
        cursor: pointer;
        border-left: 2px solid #333;
    }

    .search-button img {
        width: 24px;
        height: auto;
    }

    .show {
        display: block;
    }

    /* Promo Banner Styling */
    .promo-banner {
        transition: margin-top 0.3s ease; 
    }

    /* Adjusting the Promo Banner When Search is Visible */
    .has-search-bar .promo-banner {
        margin-top: 50px;
    }

    .nav-item.dropdown {
        order: 4 !important;
        position: absolute;
        right: 70px;

    }

    .navbar-toggler {
        order: 0 !important;
        border: none;
    }    

    .nav-icon {
        order: 4;
    }

    .navbar-collapse {
        margin-top: 0.5rem;
        order: 6;
        order: 2 !important;
    }

    .navbar-nav {
        margin-bottom: 0;
    }

    .nav-item {
        margin: 0;
    }

    .nav-link {
        padding: 0.5rem 1rem;
    }

    /* Ensure the cart icon is on the far right */
    .cart-icon-container {
        order: 5 !important;
        right: 20px;
        margin-right: 0;
    }

    /* Add additional styles for the search bar animation and visibility */
    .collapse:not(.show) {
        display: none;
    }

    /* Ensure the collapsed search bar stretches full width */
    .navbar .container-fluid > .collapse,
    .navbar .container-fluid > .collapsing {
        clear: both;
        width: 100%;
        max-height: none !important;
    }    
    
    /* Adjust logo and menu for mobile */
    .navbar-brand img {
        max-height: 40px;
    }

    /* Promotion Banner */
    .promotion-banner {
        background-color: #000;
        color: #fff;
        padding: 0.5rem 0;
        text-align: center;
        font-weight: bold;
    }
    
    /* Hero Section */
    .hero-section {
        background: url('/media/Hero_Image.png') center/cover no-repeat;
        min-height: 100vh;
    }
    
    .hero-text {
        position: relative;
        top: 15%;
        left: 50%;
        font-family: 'Jost', sans-serif;
        font-size: 3rem;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: var(--text-adventure); 
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 1); 
    }

    .display-4 {
        font-size: 5rem;
        line-height: 3;
    }
    
    /* Shop Now Button */
    .btn-lg {
        background-color: var(--shop-now);
        color: white;
        border: none;
        padding: 0.5rem 2rem;
        font-size: 1.25rem;
        transition: background-color 0.3s ease;
    }

    .btn-shop-now:hover {
        background-color: #e0b469;
        cursor: pointer;
    }
    
    /* Benefits Section */
    .benefits-section img {
        width: 4rem;
        height: auto;
        margin-bottom: .5rem;
    }
    
    .benefits-section div {
        padding: 1rem;
        text-align: center;
    }
    
    /* Mailing List Section */
    #mc_embed_signup {
        background-color: #EAE4D4; /* Subscription form background */
        padding: 2rem; /* Padding around the form */
        margin: 1rem auto; /* Center form in the page with top and bottom margin */
        max-width: 100%; /* Maximum width of the form */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center; /* Aligns the children (h2, form, button) to the center */
        font-family: Helvetica, Arial, sans-serif;
        font-size: 1rem;
    }
    
    #mc_embed_signup h2 {
        text-align: center; /* Centers the title text */
        width: 100%;
    }
    
    #mc_embed_signup form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #mc_embed_signup .mc-field-group {
        width: 100%; /* Full width of the form */
        margin-bottom: 1rem; /* Space between the input field and the button */
    }
    
    #mc_embed_signup .mc-field-group input {
        width: 100%;
        padding: 0.5rem;
        margin-left: 2rem;
        border: 2px solid #000; /* Border for the input field */
    }

    #mc_embed_signup .button, #mc_embed_signup input[type="submit"] {
        position: relative;
        background-color: #000 !important; /* Background color for the button */
        color: #fff !important; /* Text color for the button */
        border: none !important;
        left: 52rem;
    }
    
    /* Social Media Icons */
    .social-links {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-bottom: 1rem; 
    }
    
    .social-link img {
        width: 24px;
        height: auto;
        margin: 0 10px;
    }


    /* Footer */
    footer {
        color: #000;
        background-color: var(--background-logo);
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-bottom {
        padding: 10px 0;
    }

    .footer-links a,
    .attribution-link {
        color: #333;
        text-decoration: none;
        margin: 0 5px;
    }
    
    .attribution-link {
        font-size: 0.75rem;
        display: block;
        margin-top: 1rem;
    }

    .custom-toast-background {
        background-color: #e0b469 !important; 
    }      

    @media (min-width: 768px) {
        .search-icon-container {
          right: 120px; 
        }
      
        .nav-item.dropdown {
          right: 50px;
      
        .cart-icon-container {
          right: 20px; 
        }

        .footer-bottom, .social-links {
            justify-content: center;
            text-align: center;
        }
      }
    }


    @media (max-width: 900px) {
        #mc_embed_signup {
            padding: 1rem; /* Reduced padding on smaller screens */
        }
    
        #mc_embed_signup .button, #mc_embed_signup input[type="submit"] {
            position: relative;
            background-color: #000 !important; /* Background color for the button */
            color: #fff !important; /* Text color for the button */
            border: none !important;
            left: 12rem;
        }
    }