{% extends 'base.html' %}
{% load allauth i18n socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% trans 'Signup' %}
{% endblock %}

{% block content %}
  <section class="container">
    <h1 class="title text-center">Sign Up</h1>
    <p class="text-center">
      Already have an account? Then please <a href="{{ login_url }}" class="purple-link">sign in</a>.
    </p>
    <form method="post" action="{% url 'account_signup' %}" class="auth-form mb-5 d-flex flex-column">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn purple-btn align-self-center">Sign Up</button>
    </form>
    <!-- {% include "socialaccount/snippets/login.html" with page_layout="entrance" %} -->
  </section>
{% endblock %}
