<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endblock %}

    {% block extra_meta %}

    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      </style>
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% block corejs %}
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
      <script>
        // Function to adjust hero section padding and hero text position
        function adjustHeroLayout() {
          var navbarHeight = $('.navbar').outerHeight() // Get the current height of the navbar
          $('.hero-section').css('padding-top', navbarHeight + 'px') // Adjust top padding of hero section
          $('.hero-text').css('top', navbarHeight + 'px') // Adjust top position of hero text
        }
        
        $(document).ready(function () {
          // Call the function to set the initial layout
          adjustHeroLayout()
        
          // Listen for Bootstrap collapse events on the navbar
          $('#navbarContent').on('shown.bs.collapse hidden.bs.collapse', function () {
            adjustHeroLayout()
          })
        
          // Adjust layout on window resize
          $(window).on('resize', adjustHeroLayout)
        })
        
        $(document).ready(function () {
          // Toggle search bar on search icon click
          $('.search-icon').click(function () {
            $('.search-bar-container').collapse('toggle')
          })
        })
      </script>
    {% endblock %}

    <title>
      Quill - Your Next Adventure{% block extra_title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <!-- Hamburger Menu on the far right -->
          <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <!-- Logo on the far left -->
          <a class="navbar-brand order-2" href="{% url 'home' %}"><img src="https://img.icons8.com/glyph-neue/64/quill-pen.png" alt="Quill Pen Logo" style="height: 50px; width: 50px;" /></a>

          <!-- Cart Icon with badge next to the logo -->
          <div class="cart-icon-container order-3">
            <a class="nav-icon position-relative" href="#">
              <img src="media/FastCart.svg" alt="Cart" style="max-height: 24px;" />
              <span class="badge badge-warning">$0.00</span>
            </a>
          </div>

          <!-- Search icon next to the cart icon -->
          <div class="search-icon-container order-4 mx-auto">
            <button class="search-icon-btn" style="border: none; background: none;" onclick="toggleSearch()"><img src="media/Search.svg" alt="Search" class="search-icon" style="height: 24px;" /></button>
          </div>

          <!-- Collapsible content for nav links -->
          <div class="collapse navbar-collapse order-last" id="navbarContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BOOKS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MEDICAL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BIOGRAPHY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">COMPUTING</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CRIME-THRILLER</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Collapsible Search Bar -->
      <div class="search-bar-container collapse" id="searchBar">
        <!-- New search form -->
        <form class="search-form" action="#" method="get">
          <input class="search-input" type="text" placeholder="Search our library" name="search" required />
          <button class="search-button" type="submit"><img src="media/Search.svg" alt="Search" /></button>
        </form>
      </div>
    </header>
    {% if messages %}
      <div class="message-container"></div>
    {% endif %}

    {% block page_header %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block postload_js %}

    {% endblock %}

    <footer>
      <!-- mailchimp signup form -->
      <div class="container-fluid">
        <div id="mc_embed_shell">
          <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" />
          <div id="mc_embed_signup">
            <form action="https://gmail.us12.list-manage.com/subscribe/post?u=2868e4a701640baa5cf3fc157&amp;id=8fc5d103a8&amp;f_id=0051bbe0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div id="mc_embed_signup_scroll">
                <h2>Subscribe</h2>
                <div class="indicates-required">
                  <span class="asterisk">*</span> indicates required
                </div>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" /><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display: none;"></div>
                  <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */<input type="text" name="b_2868e4a701640baa5cf3fc157_8fc5d103a8" tabindex="-1" value="" />
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe" />
                    <p style="margin: 0px auto;">
                      <a href="http://eepurl.com/iG_9FM" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;" /></span></a>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Footer navigation -->
        <ul class="footer-nav list-unstyled text-center pt-4">
          <li class="d-inline mx-2">
            <a href="link-to-about-us" class="footer-link">About Us</a>
          </li>
          <li class="d-inline mx-2">
            <a href="link-to-privacy-policy" class="footer-link">Privacy Policy</a>
          </li>
          <li class="d-inline mx-2">
            <a href="link-to-contact-us" class="footer-link">Contact Us</a>
          </li>
          <li class="d-inline mx-2">
            <a href="link-to-faq" class="footer-link">FAQ</a>
          </li>
        </ul>
      </div>

      <!-- Social Media Icons -->
      <div class="social-links text-center pt-4">
        <a href="link-to-facebook" class="social-link d-inline mx-2"><img src="media\Facebook.svg" alt="Facebook" style="width: 24px; height: auto;" /></a>
        <a href="link-to-twitter" class="social-link d-inline mx-2"><img src="media\Twitter.svg" alt="Twitter" style="width: 24px; height: auto;" /></a>
        <a href="link-to-instagram" class="social-link d-inline mx-2"><img src="media\Instagram.svg" alt="Instagram" style="width: 24px; height: auto;" /></a>
      </div>

      <!-- Bottom Attribution -->
      <div class="footer-bottom text-center py-4">
        <p class="mb-0">&copy; Created by Gbemi Akadiri for CI P5.</p>
        <a href="https://icons8.com" class="attribution-link">All icons by Icons8</a>
      </div>
    </footer>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
    <script type="text/javascript">
      ;(function ($) {
        window.fnames = new Array()
        window.ftypes = new Array()
        fnames[0] = 'EMAIL'
        ftypes[0] = 'email'
        fnames[1] = 'FNAME'
        ftypes[1] = 'text'
        fnames[2] = 'LNAME'
        ftypes[2] = 'text'
        fnames[3] = 'ADDRESS'
        ftypes[3] = 'address'
        fnames[4] = 'PHONE'
        ftypes[4] = 'phone'
        fnames[5] = 'BIRTHDAY'
        ftypes[5] = 'birthday'
      })(jQuery)
      var $mcj = jQuery.noConflict(true)
    </script>
  </body>
</html>
