{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_meta %}
  <meta name="description" content="Authorized Shop Owner only. Edit a product in the bookstore." />
  <meta name="keywords" content="manage products, bookstore management, edit book details, online bookstore backend" />
  <meta name="author" content="Your Site's Name" />
{% endblock %}

{% block extra_title %}
  Store Management - Edit {{ product.name }}
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 mt-5 mb-4">
        <hr />
        <h2 class="logo-font mb-4">Store Management</h2>
        <h3 class="text-muted">Edit Product - {{ product.name }}</h3>
        <hr />
      </div>
    </div>

    <!-- Form to Edit Product -->
    <div class="row">
      <div class="col-12 col-lg-6">
        <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-group text-right">
            <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-black rounded-0">Cancel</a>
            <button type="submit" class="btn btn-black rounded-0">Update Product</button>
            <!-- Delete Button -->
            <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block postload_js %}
  {{ block.super }}

  <script>
    function confirmDelete() {
      if (confirm('Are you sure you want to delete this product?')) {
        window.location.href = "{% url 'delete_product' product.id %}"
      }
    }
  </script>
{% endblock %}
